@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #fd5479;
  --color-primaryHover: #fa315c;
}  

  html {
    /* scroll-behavior: smooth; */
    scrollbar-width: thin;
    scrollbar-color: #fd5479 var(--color-base-100);
  }
  
  html::-webkit-scrollbar {
    width: 0.4rem;
  }
  body{
    scroll-behavior: smooth;
  }

